<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container d-flex vh-100 justify-content-center align-items-center">
    <form class="p-3 border-1 card" method="post" action="/users/resetPassword/<%=user_id%>/<%=token%>">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nhập mật khẩu mới</label>
            <input type="password" class="form-control" name="password" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Mật khẩu có từ 8 kí tự, có chữ cái in hoa và kí tự đặc
                biệt!
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" name="confirmPassword">
        </div>
        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
    </form>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>