<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="fontawesome/fontawesome-free-6.3.0-web/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <title>Trang cá nhân</title>
</head>

<body style="overflow: hidden;">
    <div class="d-flex flex-column">
        <div class="d-flex" style="height: 45px;">
            <div class="col-2 d-flex px-3 align-items-center fs-5" style="background-color: rgb(41, 41, 41);">
                <a class="navbar-brand fw-bold" style="color: #ff6200;" href="/">FNEWS</a>
            </div>
            <div class="col-9 p-0 d-flex" style="background-color: rgb(72, 72, 72);"></div>
            <div class="col-1 d-flex justify-content-center align-items-center"
                style="background-color: rgb(41, 41, 41);">
                <p style="color: #ffffff;cursor: pointer;">Đăng xuất</p>
            </div>
        </div>
        <div class="flex-grow-1 d-flex flex-row">
            <div class="col-2 bg-light h-100 d-flex flex-column pt-3" style="min-height: 750px;" id="side-bar">
                <a href="/profile" class="d-flex align-items-center px-3 py-2">
                    <i class="fa-regular fa-user"></i>
                    <p class="ps-2 fw-bolder">Thông tin tài khoản</p>
                </a>
                <a href="/my-news"  style="color: #ff6200;"  class="d-flex align-items-center px-3 py-2">
                    <i class="fa-solid fa-newspaper"></i>
                    <p class="ps-2 fw-bolder">Bài viết của tôi</p>
                </a>
                <a href="/my-videos" class="d-flex align-items-center px-3 py-2">
                    <i class="fa-solid fa-video"></i>
                    <p class="ps-2 fw-bolder">Video của tôi</p>
                </a>
                <a href="#" class="d-flex align-items-center px-3 py-2">
                    <i class="fa-solid fa-comment"></i>
                    <p class="ps-2 fw-bolder" href="#">Ý kiến của tôi</p>
                </a>
                <a href="#" class="d-flex align-items-center px-3 py-2">
                    <i class="fa-solid fa-floppy-disk"></i>
                    <p class="ps-2 fw-bolder" href="#">Tin đã lưu</p>
                </a>
                <a href="#" class="d-flex align-items-center px-3 py-2">
                    <i class="fa-solid fa-bell"></i>
                    <p class="ps-2 fw-bolder" href="#">Trình thông báo</p>
                </a>



            </div>
            <div class="col-10 d-flex flex-column" style="overflow: auto; height: 750px;">
                <div class="d-flex flex-row px-5 py-3 justify-content-between align-items-center">
                    <p class="fw-bolder">Tổng số bài viết: <span id="news-total" class="fw-lighter">0</span></p>
                    <a class="btn" style="background-color: #ff6200; color: #ffffff;" href="/create-news">Tạo bài
                        viết</a>
                </div>
                <div class="px-5 py-2" id="news-list">


                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="/javascripts/show_addmin_board.js"></script>
    
    <script>
        function loadNews() {
            $.ajax({
                url: '/news/my-news',
                dataType: 'json',
                beforeSend: function (request) {
                    console.log("Bearer " + getCookie("Authorization"))
                    request.setRequestHeader("Authorization", "Bearer " + getCookie("Authorization"));
                },
                type: 'GET',
                success: function (data) {
                    if (data.success) {
                        $('#news-list').empty()
                        $('#news-total').text(data.data.length)
                        data.data.forEach(element => {

                            $('#news-list').append(
                                `<div class="d-flex mb-4 pt-4 border-top" id="${element._id}" style="width: 100%; border-color: #232323;">
                                    <div style="width: 30%;">
                                        <img style="object-fit: cover;" height="180px" width="100%"
                                            src="${element.avatar}" />
                                    </div>
                                    <div style="width: 70%;" class="d-flex flex-column">
                                        <a href="#" class="ms-3 me-3 fw-bold fs-5 text"
                                            style="font-family: 'Times New Roman', Times, serif; -webkit-line-clamp: 3; line-clamp: 3;">
                                            ${element.title}
                                        </a>
                                        <div class="d-flex flex-row ms-3 align-items-center mt-2 me-3 ">
                                            <p class="fs-6 fw-lighter"><i class="fa-solid fa-newspaper"></i><span class="ms-2 state"></span>
                                            </p>
                                            <p class="ms-5 fs-6 fw-lighter"><i class="fa-solid fa-thumbs-up"></i><span
                                                class="ms-2">${element.like}</span>
                                            </p>
                                            <p class="ms-5 fs-6 fw-lighter"><i class="fa-regular fa-comment"></i><span
                                                class="ms-2">${element.comment.length}</span>
                                            </p>
                                        </div>
                                        <div class="d-flex flex-row ms-3 mt-3 action">
                                            <button class="btn btn-outline-success edit-news" onclick="editNews('${element._id}')">Sửa bài viết</button>
                                            <button class="btn btn-outline-warning ms-4 hide-news" onclick="hideOrShowNews('${element._id}')">Ẩn bài viết</button>
                                        </div>
                                    </div>
                                </div>`
                            )

                            const parent = document.getElementById(`${element._id}`)
                            const state = parent.querySelector('.state')
                            const actionDiv = parent.querySelector('.action')
                            const hideNewsBtn = actionDiv.querySelector('.hide-news')
                            const editNews = actionDiv.querySelector('.edit-news')

                            if (element.active) {
                                hideNewsBtn.innerText = "Ẩn bài viết"
                            } else {
                                hideNewsBtn.innerText = "Hiện bài viết"
                            }


                            if (element.state === 0) {
                                state.innerHTML = "Đang duyệt"
                                state.style.color = 'yellow'
                            } else if (element.state === 1) {
                                state.innerHTML = "Đã duyệt"
                                state.style.color = 'green'
                            } else {
                                state.innerHTML = "Bị từ chối"
                                state.style.color = 'red'
                                actionDiv.innerHTML += `<button class="btn btn-outline-danger ms-4 reject-news" onclick="showRejectReason('${element.stateExtra}')">Lý do từ chối duyệt</button>`
                            }

                        });
                    } else {
                        console.log(data.message)
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error)
                }
            });
        }
        loadNews()

        function hideOrShowNews(id) {
            if (confirm("Bạn có chắc chắn muốn ẩn bài viết này?")) {
                $.ajax({
                    url: "/news/hideNews",
                    beforeSend: function (request) {
                        console.log("Bearer " + getCookie("Authorization"))
                        request.setRequestHeader("Authorization", "Bearer " + getCookie("Authorization"));
                    },
                    type: "PUT",
                    dataType: "json",
                    data: { id: id },
                    success: function (data) {
                        if (data.success) {
                            loadNews()
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Yêu cầu thất bại: " + textStatus + ", " + errorThrown);
                    }
                });

            }
        }

        function editNews(id) {
            window.location.assign('/news-edit/' + id)
        }

        function showRejectReason(reason) {
            $('#reject-text').text(reason)
            $('#exampleModal').modal('show')
        }

    </script>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lý do từ chối</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="reject-text"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</body>



</html>