<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="fontawesome/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/create_news.css">
    <title>Tạo bài viết</title>
</head>

<body>
    <div>
        <div class="d-flex" style="height: 45px;">
            <div class="col-2 d-flex px-3 align-items-center fs-5" style="background-color: rgb(41, 41, 41);">
                <a class="navbar-brand fw-bold" style="color: #ff6200;" href="/">FNEWS</a>
            </div>
            <div class="col-10 p-0 d-flex" style="background-color: rgb(72, 72, 72);"></div>
        </div>
        <div id="news-box" class="container">
            <p class="fs-4 fw-bolder mt-3 p-0">Sửa bài viết</p>
            <input type="hidden" value="<%=id%>" id="news-id">
            <form class="mt-3" onsubmit="return false">
                <div class="mb-4 mt-0">
                    <label for="news-content" class="form-label fw-bold">Nội dung bài viết</label>
                    <textarea class="form-control" id="news-content" required></textarea>
                </div>
                <div class="mb-4">
                    <label for="news-title" class="form-label fw-bold">Tiêu đề bài viết</label>
                    <textarea class="form-control" id="news-title" required></textarea>
                </div>
                <div class="mb-4 mt-0">
                    <label for="avatar" class="form-label fw-bold m-0">Ảnh bìa</label>
                    <div class="my-3 d-flex flex-row justify-content-start flex-wrap">
                        <div
                            class="d-flex flex-column justify-content-center align-items-center me-3 position-relative">
                            <img id="news-avatar" class="image" src="/images/add_image_placeholder.png" width="100px"
                                style="object-fit: cover;">
                            <form id="uploadForm" enctype="multipart/form-data" class="d-none">
                                <input type="file" id="file" name="avatar" class="d-none" />
                                <input class="btn-success d-none" id="upload-button" type="button" value="Tải lên">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="title" class="form-label fw-bold">Lĩnh vực</label>
                    <select class="form-select" id="news-field" required>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="title" class="form-label fw-bold">Tag</label>
                    <input type="text" class="form-control" id="news-tag"
                        placeholder="#nội_dung_tag_1 #nội_dung_tag_2 ...." required>
                </div>
                <div class="mb-4 mt-4">
                    <button id="news-edit" class="btn btn-success">Sửa bài viết</button>
                </div>
                <p id="inform" class="my-3"></p>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="emodalCenterTitle"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emodalCenterTitle">Sửa bài viết</h5>
                </div>
                <div class="modal-body text-success">
                    <h5>Sửa thành công bài viết.</h5>
                    <i>Vui lòng chờ để bài viết được duyệt.</i>
                </div>
                <div class="modal-footer">
                    <a href="/my-news" type="button" class="btn btn-secondary" data-dismiss="modal">Trở về trang cá
                        nhân</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/super-build/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        let editor;
        CKEDITOR.ClassicEditor.create(document.getElementById("news-content"), {
            // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
            toolbar: {
                items: [
                    'exportPDF', 'exportWord', '|',
                    'findAndReplace', 'selectAll', '|',
                    'heading', '|',
                    'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                    'bulletedList', 'numberedList', 'todoList', '|',
                    'outdent', 'indent', '|',
                    'undo', 'redo',
                    '-',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                    'alignment', '|',
                    'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                    'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                    'textPartLanguage', '|',
                    'sourceEditing'
                ],
                shouldNotGroupWhenFull: true
            },
            // Changing the language of the interface requires loading the language file using the <script> tag.
            // language: 'es',
            list: {
                properties: {
                    styles: true,
                    startIndex: true,
                    reversed: true
                }
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
            heading: {
                options: [
                    { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                    { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                    { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                    { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                    { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                    { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                ]
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
            // placeholder: 'Welcome to CKEditor 5!',
            // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
            fontFamily: {
                options: [
                    'default',
                    'Arial, Helvetica, sans-serif',
                    'Courier New, Courier, monospace',
                    'Georgia, serif',
                    'Lucida Sans Unicode, Lucida Grande, sans-serif',
                    'Tahoma, Geneva, sans-serif',
                    'Times New Roman, Times, serif',
                    'Trebuchet MS, Helvetica, sans-serif',
                    'Verdana, Geneva, sans-serif'
                ],
                supportAllValues: true
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
            fontSize: {
                options: [10, 12, 14, 'default', 18, 20, 22],
                supportAllValues: true
            },
            // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
            // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
            htmlSupport: {
                allow: [
                    {
                        name: /.*/,
                        attributes: true,
                        classes: true,
                        styles: true
                    }
                ]
            },
            // Be careful with enabling previews
            // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
            htmlEmbed: {
                showPreviews: true
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
            link: {
                decorators: {
                    addTargetToExternalLinks: true,
                    defaultProtocol: 'https://',
                    toggleDownloadable: {
                        mode: 'manual',
                        label: 'Downloadable',
                        attributes: {
                            download: 'file'
                        }
                    }
                }
            },
            // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
            mention: {
                feeds: [
                    {
                        marker: '@',
                        feed: [
                            '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                            '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                            '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                            '@sugar', '@sweet', '@topping', '@wafer'
                        ],
                        minimumCharacters: 1
                    }
                ]
            },
            // The "super-build" contains more premium features that require additional configuration, disable them below.
            // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
            removePlugins: [
                // These two are commercial, but you can try them out without registering to a trial.
                // 'ExportPdf',
                // 'ExportWord',
                'CKBox',
                'CKFinder',
                'EasyImage',
                // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                // Storing images as Base64 is usually a very bad idea.
                // Replace it on production website with other solutions:
                // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                // 'Base64UploadAdapter',
                'RealTimeCollaborativeComments',
                'RealTimeCollaborativeTrackChanges',
                'RealTimeCollaborativeRevisionHistory',
                'PresenceList',
                'Comments',
                'TrackChanges',
                'TrackChangesData',
                'RevisionHistory',
                'Pagination',
                'WProofreader',
                // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                // from a local file system (file://) - load this site via HTTP server if you enable MathType
                'MathType'
            ],
            mediaEmbed: {
                previewsInData: true,
                provides : ['youtube']
            }
        }).then(newEditor => {
            editor = newEditor;
            startToFillContent(editor)

        }).catch(error => {
            console.error(error);
        });


        function startToFillContent(editor) {
            function loadField() {
                $.ajax({
                    url: '/field/',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        if (data.success) {
                            $('#news-field').empty()
                            data.data.forEach(element => {
                                if (element.active) {
                                    $('#news-field').append(`<option value="${element._id}">${element.value}</option>`)
                                }
                            })
                        }
                    },
                });
            }

            loadField()

            $.ajax({
                url: "/news/" + $('#news-id').val(),
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        editor.setData(data.data.content)
                        $('#news-title').text(data.data.title)

                        $('#news-avatar').attr('src', '/' + data.data.avatar)

                        let stringTag = ""
                        data.data.tags.forEach((element) => {
                            stringTag += " " + element
                        })
                        $('#news-tag').val(stringTag)

                        $('#news-field').val(data.data.field._id)

                    } else {
                        console.log(data.message)
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error("Yêu cầu thất bại: " + textStatus + ", " + errorThrown);
                }
            });


            function create_ajax(url) {
                var fd = new FormData($("form").get(0));
                $.ajax({
                    url: url,
                    data: fd,
                    dataType: 'json',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.success) {
                            $('#news-avatar').attr('src', "/" + data.data.imageUrl)
                        } else {
                            console.log(data.message)
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('Error: ' + error.message);
                    }
                });
                event.preventDefault();
            }

            $('#news-avatar').click(() => {
                $('#file').click()
            })

            $('#file').on('change', (event) => {
                $('#upload-button').click()
            })

            $('#upload-button').click(function (e) {
                create_ajax('/other/upload-image')
            })

            function getCookie(name) {
                function escape(s) { return s.replace(/([.*+?\^$(){}|\[\]\/\\])/g, '\\$1'); }
                var match = document.cookie.match(RegExp('(?:^|;\\s*)' + escape(name) + '=([^;]*)'));
                return match ? match[1] : null;
            }

            async function uploadVideoInNews(videoUrl, linkedNews, title) {
                console.log(videoUrl + " " + linkedNews + " " + title)
                $.ajax({
                    url: '/video/',
                    beforeSend: function (request) {
                        console.log("Bearer " + getCookie("Authorization"))
                        request.setRequestHeader("Authorization", "Bearer " + getCookie("Authorization"));
                    },
                    data: { content: videoUrl, linkedNews: linkedNews, title: title },
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        if (data.success) {
                            console.log('upload video success ' + data.data.id)
                        } else {
                            console.log(data.message)
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('Error: ' + error.message);
                    }
                });
            }

            $('#news-edit').click(() => {

                const content = editor.getData()
                const title = $('#news-title').val()

                const _avatar = $('#news-avatar').attr('src')
                const avatar = _avatar.substring(1, _avatar.length)

                const field = $('#news-field').val()
                const tag = $('#news-tag').val()
                const tags = tag.split(' ')

                if (avatar === '/images/add_image_placeholder.png') {
                    $('#inform').css('color', 'red')
                    $('#inform').text('Vui lòng chọn ảnh bìa cho bài viết')
                    return
                }

                $.ajax({
                    url: '/news/',
                    beforeSend: function (request) {
                        console.log("Bearer " + getCookie("Authorization"))
                        request.setRequestHeader("Authorization", "Bearer " + getCookie("Authorization"));
                    },
                    data: { id: $('#news-id').val(), content, title, avatar, field, tags, state: 0, stateExtra: null },
                    dataType: 'json',
                    type: 'PUT',
                    success: async function (data) {
                        if (data.success) {
                            $('#modalCenter').modal('show');
                            const parser = new DOMParser()
                            const dom = parser.parseFromString(content, "text/html")
                            dom.querySelectorAll('iframe[url]').forEach(async (element) => {
                                await uploadVideoInNews(element.attributes.url.value, data.data.id, data.data.title)
                            });
                        } else {
                            $('#inform').css('color', 'red')
                            $('#inform').text(data.message)
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('Error: ' + error.message);
                    }
                });

            })
        }
    </script>
</body>

</html>