<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="fontawesome/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/create_news.css">
    <title>Tạo bài viết</title>
</head>

<body>
    <div>
        <div class="d-flex" style="height: 45px;">
            <div class="col-2 d-flex px-3 align-items-center fs-5" style="background-color: rgb(41, 41, 41);">
                <a class="navbar-brand fw-bold" style="color: #ff6200;" href="/">FNEWS</a>
            </div>
            <div class="col-10 p-0 d-flex" style="background-color: rgb(72, 72, 72);"></div>
        </div>
        <div id="news-box" class="container">
            <p class="fs-4 fw-bolder mt-3 p-0">Tạo bài viết</p>
            <form class="mt-3" onsubmit="return false">
                <div class="mb-4 mt-0">
                    <label for="content" class="form-label fw-bold">Nội dung bài viết</label>
                    <textarea class="form-control" id="content" required></textarea>
                </div>
                <div class="mb-4">
                    <label for="title" class="form-label fw-bold">Tiêu đề bài viết</label>
                    <textarea class="form-control" id="title" required></textarea>
                </div>
                <div class="mb-4 mt-0">
                    <label for="avatar" class="form-label fw-bold m-0">Ảnh bìa</label>
                    <div class="my-3 d-flex flex-row justify-content-start flex-wrap">
                        <div
                            class="d-flex flex-column justify-content-center align-items-center me-3 position-relative">
                            <img id="avatar" class="image" src="/images/add_image_placeholder.png" width="100px"
                                style="object-fit: cover;">
                            <form id="uploadForm" enctype="multipart/form-data" class="d-none">
                                <input type="file" id="file" name="avatar" class="d-none" />
                                <input class="btn-success d-none" id="upload-button" type="button" value="Tải lên">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="title" class="form-label fw-bold">Lĩnh vực</label>
                    <select class="form-select" id="field" required>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="title" class="form-label fw-bold">Tag</label>
                    <input type="text" class="form-control" id="tag"
                        placeholder="#nội_dung_tag_1 #nội_dung_tag_2 ...." required>
                </div>
                <div class="mb-4 mt-4">
                    <button id="add-news" class="btn btn-success">Công khai bài viết</button>
                </div>
                <p id="inform" class="my-3"></p>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="emodalCenterTitle"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emodalCenterTitle">Tạo bài viết</h5>
                </div>
                <div class="modal-body text-success">
                    <h5>Tạo thành công bài viết.</h5>
                    <i>Vui lòng chờ để bài viết được duyệt.</i>
                </div>
                <div class="modal-footer">
                    <a href="/my-news" type="button" class="btn btn-secondary" data-dismiss="modal">Trở về trang cá
                        nhân</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/super-build/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/javascripts/create_news.js"></script>
</body>

</html>