body {
    background: url(../images/bg_login.jpg) no-repeat center fixed;
    background-size: cover;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

.wrap-input {
    position: relative;
}

.eye-pass {
    position: absolute;
    top: 53%;
    cursor: pointer;
    right: 1rem;
    display: flex;
    align-items: center;
}